{% extends 'app/base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  
  <title>Registro de usuario</title>
</head>
<body>

  <form action="" method="post">

    <section class="form-register">

      <h4>Registro de usuario</h4>
      {% csrf_token %}
      {{ form | crispy }}
      <input class="botons" type="submit" value="Registrar usuario">
      <p><a href="{% url 'login' %}">¿No tengo cuenta?</a></p>
  
  
    </section>
  
    
  
  
  
  
  </form>
 

</body>
</html>

{% endblock %}