{% extends 'app/base.html' %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  

</head>
<body>
    
    <form action="">

        <section class="form-register">

            {% if perms.app.add_adminReceta %}
            <div><a href="{% url 'adminReceta' %}">Administrador Recetas</a></div>
            {% endif%}

            {% if perms.app.add_adminProducto %}
            <div><a href="{% url 'adminProducto' %}">Administrador Productos</a></div>
            {% endif%}

            {% if perms.app.adminProveedor %}
            <div><a href="{% url 'adminProveedor' %}">Administrador Proveedores</a></div>
            {% endif%}

        </section>
      
      
      </form>
</body>
</html>

{% endblock %}

