{% extends 'app/base.html' %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  

</head>
<body>
    
    <form action="">

        <section class="form-register">

            {% if perms.app.add_adminReceta %}
            <div><a href="{% url 'adminReceta' %}">Administrador Recetas</a></div>
            {% endif%}

            {% if perms.app.add_adminProducto %}
            <div><a href="{% url 'adminProducto' %}">Administrador Productos</a></div>
            {% endif%}

            {% if perms.app.adminProveedor %}
            <div><a href="{% url 'adminProveedor' %}">Administrador Proveedores</a></div>
            {% endif%}

            {% if perms.app.adminPedido %}
            <div><a href="{% url 'adminPedido' %}">Administrador Pedido</a></div>
            {% endif%}

            {% if perms.app.adminMesa %}
            <div><a href="{% url 'adminMesa' %}">Administrador Mesa</a></div>
            {% endif%}

            {% if perms.app.adminMesa %}
            <div><a href="{% url 'adminReserva' %}">Administrar Reserva</a></div>
            {% endif%}
            
            {% if perms.app.adminBodega %}
            <div><a href="{% url 'adminBodega' %}">Administrar Bodega</a></div>
            {% endif%}

            <div><a href="{% url 'index' %}">Menu cliente</a></div>

        </section>
      
      
      </form>
</body>
</html>

{% endblock %}

